.footer-links {
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.footer-links a {
    font-weight: 400;
    font-size: 24px;
    color: #6E7477;
    padding: 0 40px;
}

.footer-links a:hover {
    opacity: 0.75;
}

.footer-links a::after {
    content: "";
    position: absolute;
    left: 25%;
    bottom: -5px;
    height: 5px;
    background-color: #6E7477;
}

