@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

.links {
    display: flex;
}

.links a{
    font-weight: 400;
    line-height: 46.5px;
    font-size: 24px;
    position: left;
    color: #6E7477;
    padding: 0 40px;
    position: relative;

}

.logo img{
    margin-left: 40px;
    height: 80px;
}

.links a{
    color: #6E7477;
    display: inline-block;
    position: relative;
    opacity: 0.75;
    text-decoration: none; /* Remove underline from links */
}

.links a:hover {
    opacity: 1;
}

.links a::after {
    content: "";
    position: absolute;
    left: 25%;
    bottom: -5px;
    width: 0;
    height: 5px;
    background-color: #6E7477;
    transition: width 0.3s ease;
}

.links a:hover::after {
    width: 50%;
}