.resources{
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    gap: 20px;
    flex-direction: column;
}
.boxes-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75vw;
    padding: 20px;
}
.box{
    color: rgb(48, 50, 50);
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: space-between;
    border: rgba(12, 107, 104) 1px solid;
    border-radius: 20px;
    padding: 0 20px;
    /* text-align: center; */
    align-items: center;
    justify-content: space-between;
    background-color: rgba(13, 156, 144, 0.5);
}
.custom-icon{
    font-size: 50px;
    margin-bottom: 20px;
}