.upcoming-events {
  padding: 20px; /* Optional: padding for aesthetics */
  height: 70vh;
  margin: 0 100px;
  margin-bottom: 500px;

}

.cal-title {
  text-align: center;
  color: #00B3A6;
  font-size: 6em;
  font-weight: 500;
}

.ue-title {
  margin-top: 0;
  align-self: center;
  color: #166A63;
  font-size: 4em;
  text-decoration-line: underline;
  text-underline-offset: 60px;
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items to the top */
  height: 100%; /* Use full height of the parent */
  margin-top: 20px; /* Space between the title and the container */
}

.upcoming-events-left-container {
  display: flex;
  flex-direction: column;
  flex: 1; /* Take available space */
  align-items: flex-start; /* Align items to the top */
  flex: 1; /* Allow it to take up available space */
  margin-right: 20px; /* Space between the list and the calendar */
  border-radius: 10px; /* Rounded corners */
  height: 100%; /* Full height of the parent */
  padding-right: 20px;
}

.events-list {
  max-height: fit-content;
  overflow-y: auto;
  margin-top: 10px; /* Space between the heading and the list */
  box-sizing: border-box; /* Ensure padding is included in the width calculation */
  width: 90%;
  align-self: center;
}

.calendar {
  flex: 2; /* Allow the calendar to take more space than the events list */
  height: 100%; /* Full height of the parent */
  overflow: hidden;
}

.event-item {
  text-align: center;
  background-color: rgb(255, 255, 255); /* White background for each event */
  padding: 15px; /* Padding inside each event */
  margin: 10px 0; /* Margin between events */
  border-radius: 15px; /* Rounded corners for each event */
  box-shadow: 0 1px 4px rgba(67, 214, 185, 0.9); /* Shadow for each event */
  transition: transform 0.2s; /* Smooth transition for hover effect */
}

.event-item:hover {
  transform: translateY(-2px); /* Slight lift on hover */
}

.event-title {
  font-size: 1.2em; /* Larger font size for the title */
  font-weight: bold; /* Bold title */
  color: #333; /* Darker color for contrast */
  margin-bottom: 5px; /* Space between title and date */
}

.event-date {
  font-size: 0.9em; /* Smaller font size for the date */
  color: #777; /* Lighter color for the date */
  margin-bottom: 5px; /* Space between date and description */
}

.event-description {
  font-size: 0.85em; /* Description font size */
  color: #555; /* Medium color for description */
  margin-bottom: 5px; /* Space between description and location */
}

.event-location {
  font-size: 0.8em; /* Font size for the location */
  color: #444; /* Color for the location */
}
