/* Main container styling */
.upcoming-events {
  padding: 20px;
  margin: 0 20px;
  margin-bottom: 100px;
}

/* Calendar title */
.cal-title {
  text-align: center;
  color: #00B3A6; /* Accent color */
  font-size: clamp(2.5rem, 5vw, 6rem);
  font-weight: 500;
  margin-bottom: 30px;
}

/* Container for events and calendar */
.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 550px;
  padding: 10px;
}

/* Left-side container for upcoming events */
.upcoming-events-left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Match height with calendar */
  background-color: #FFF; /* White background for contrast */
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); /* Subtle shadow */
  padding: 15px;
}

/* Upcoming events title */
.ue-title {
  color: #166A63; /* Darker accent color */
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  text-decoration: underline;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

/* Scrollable events list for large screens */
.events-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 10px;
  background-color: #FFF; /* White background for event cards */
  border-radius: 10px;
}

/* Individual event item */
.event-item, .event-item-single-event {
  text-align: center;
  background-color: #FFFFFF;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); /* Slight shadow to elevate */
  transition: transform 0.2s ease-in-out;
}

.event-item:hover {
  transform: translateY(-5px); /* Slight lift effect on hover */
}

/* Full calendar container */
.calendar-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 15px;
}

/* Calendar iframe */
.calendar {
  width: 100%;
  height: 500px;
}

/* Share calendar button */
.calendar-share-btn {
  background-color: #00B3A6;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.calendar-share-btn:hover {
  background-color: #166A63;
}
.event-navigation-container{
  display: none;
}

/* Responsive for smaller screens */
@media (max-width: 1024px) {
  .events-list {
    display: none;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .calendar {
    display: none;
  }
  .calendar-container, .upcoming-events-left-container {
    padding: 0;
    background-color: transparent;
    height: fit-content;
    box-shadow: none;
  }
  .calendar-share-btn {
    display: block;
  }

  .event-navigation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
