@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.welcome{
    padding: 40px;
    display: flex;
    place-items: center;
    align-content: center;
    align-self: center;
    height: 100vh;
    gap: 20px;
    flex-direction: column;
}
.title {
    font-weight: 900;
    font-size: 100px;
    color: #00B3A6;
}
.welcome-description {
    color: #166A63;
    width: 50%;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
    overflow: hidden; /* Hides any overflow text */
    text-overflow: ellipsis; /* Adds ellipsis (...) at the end if text overflows */
    display: -webkit-box; /* Flexbox model optimized for limited lines */
    -webkit-line-clamp: 2; /* Limits the text to 2 lines */
    -webkit-box-orient: vertical; /* Sets the box orientation to vertical */
}


.image-small{
    width: auto;
    height: 20vh;
    border-radius: 17px;
    border: 3px;
    transition: box-shadow 0.3s ease;
}
.image-small:hover{
    box-shadow: 0 0 10px 5px #e4fffd; 
}

table {
    border-radius: 25px;
    border: 3px solid #00B3A6;
    background-color: #00312e;
}